/*Global*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  width: 100%;
  height: 91px;
  background-color: #020203;
  display: flex;
  align-items: center;
  padding-left: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header * {
  font-size: 18px;
  color: white;
}
.header .logo img {
  width: 178px;
}

.nav-t {
  display: flex;
  width: 1024px;
  justify-content: space-evenly;
}

.nav-l {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: black;
  width: 117px;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: -1;
}
.nav-l .copiryght {
  transform: rotate(-90deg);
  width: 150px;
  position: relative;
  top: 20%;
  text-align: center;
}
.nav-l .copiryght p {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
.nav-l img {
  height: 32px;
}
.nav-l .nav-l-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 316px;
}
.nav-l .nav-l-group .nav-l-bt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 6px;
}

/* Welcome */
.welComeMessage {
  margin-bottom: 77px;
}

.welComeFirstName {
  font-size: 48px;
  margin-bottom: 41px;
}
.welComeFirstName .firstName {
  color: #FF0101;
}

/* Side informations */
.sideInformationsContainer {
  display: flex;
  width: 258px;
  height: 124px;
  align-items: center;
  margin-bottom: 25px;
  background-color: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}
.sideInformationsContainer span {
  font-weight: 700;
  font-size: 20px;
}
.sideInformationsContainer p {
  font-weight: 500;
  font-size: 14px;
  color: #74798C;
}

.logoInformationCount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 6px;
  margin-left: 32px;
  margin-right: 24px;
}
.logoInformationCount img {
  height: 20px;
}

.caloriesCount div:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.1);
}

.proteinsCount div:nth-child(1) {
  background-color: rgba(74, 184, 255, 0.1);
}

.glucidesCount div:nth-child(1) {
  background-color: rgba(253, 204, 12, 0.1);
}

.lipidCount div:nth-child(1) {
  background-color: rgba(253, 81, 129, 0.1);
}

/* Score */
.scoreContainer {
  width: 270px;
  height: 270px;
  border-radius: 5px;
  background-color: #FBFBFB;
}

.rateScoreText {
  font-weight: 700;
  font-size: 26px;
  fill: #282D30;
}

.yourText,
.goalText {
  font-weight: 500;
  font-size: 16px;
  fill: #74798C;
}

/* Radar */
.radarContainer {
  background-color: #282D30;
  width: 270px;
  height: 270px;
  border-radius: 5px;
}

.containerUsers {
  display: flex;
  flex-direction: column;
  left: 117px;
  position: relative;
  width: 400px;
  left: 40%;
  align-items: center;
}

.usersChoice {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Dashboard */
.statSection {
  position: absolute;
  top: 50%;
  left: 50%;
}

.dashBoard {
  position: absolute;
  margin-left: 117px;
}

.globalInformations {
  display: flex;
}
.globalInformations .centerInformations {
  background-color: aquamarine;
  border: solid;
}
.globalInformations .centerInformations .bodyWeight {
  border: groove;
}
.globalInformations .centerInformations .charts {
  display: flex;
}/*# sourceMappingURL=main.css.map */