/*Global*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  height: 91px;
  background-color: #020203;
  display: flex;
  align-items: center;
  padding-left: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header * {
  font-size: 18px;
  color: white;
}
.header .logo img {
  width: 178px;
}

.nav-t {
  display: flex;
  width: 1024px;
  justify-content: space-evenly;
}

.nav-l {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: black;
  width: 117px;
  height: 100vh;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: -1;
}
.nav-l .copiryght {
  transform: rotate(-90deg);
  width: 150px;
  position: relative;
  top: 15%;
  text-align: center;
}
.nav-l .copiryght p {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
.nav-l img {
  height: 32px;
}
.nav-l .nav-l-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 316px;
}
.nav-l .nav-l-group .nav-l-bt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 6px;
}

/* Welcome */
.welComeMessage {
  margin-bottom: 40px;
}

.welComeFirstName {
  font-size: 48px;
  margin-bottom: 24px;
}
.welComeFirstName .firstName {
  color: #FF0101;
}

/* Side informations */
.sideInformations {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideInformationsContainer {
  display: flex;
  width: 258px;
  height: 124px;
  align-items: center;
  background-color: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}
.sideInformationsContainer span {
  font-weight: 700;
  font-size: 20px;
}
.sideInformationsContainer p {
  font-weight: 500;
  font-size: 14px;
  color: #74798C;
}

.logoInformationCount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 6px;
  margin-left: 32px;
  margin-right: 24px;
}
.logoInformationCount img {
  height: 20px;
}

.calorieCount {
  background-color: rgba(255, 0, 0, 0.1);
}

.proteinCount {
  background-color: rgba(74, 184, 255, 0.1);
}

.carbohydrateCount {
  background-color: rgba(253, 204, 12, 0.1);
}

.lipidCount {
  background-color: rgba(253, 81, 129, 0.1);
}

/* Score */
.scoreContainer {
  height: 250px;
  border-radius: 5px;
  background-color: #FBFBFB;
}

.rateScoreText {
  font-weight: 700;
  font-size: 26px;
  fill: #282D30;
}

.yourText,
.goalText {
  font-weight: 500;
  font-size: 16px;
  fill: #74798C;
}

/* Radar */
.radarContainer {
  background-color: #282D30;
  height: 250px;
  border-radius: 5px;
}

/* Average sessions*/
.AverageSessionsContainer {
  background-color: #FF0000;
  height: 250px;
  border-radius: 5px;
}

/* Activities */
.activityContainer {
  background-color: #FBFBFB;
  border-radius: 5px;
  padding: 10px 10px 0px 32px;
  margin-bottom: 30px;
}

.activityTooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 39px;
  height: 63px;
  background: #E60000;
  color: white;
  border-radius: 0px;
  padding: 10px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

.activityContainerTitle {
  color: #20253A;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.textColorLegend {
  color: #74798C;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.usersContainer {
  display: flex;
  max-width: 1280px;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  margin-left: 117px;
  justify-content: center;
}

.usersChoice {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}
.usersChoice h1 {
  text-align: center;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.userButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  min-width: 200px;
  height: 200px;
  background-color: #FF0101;
  border-radius: 10px;
  font-weight: 800;
  font-size: 25px;
  transition: all 0.15s ease-out;
}
.userButton * {
  color: white;
  z-index: 1;
}
.userButton:hover {
  background-size: auto 105%;
  background: rgb(40, 45, 48);
}
.userButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .usersChoice {
    height: 75vh;
  }
  .buttonContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 50vh;
  }
}
/* Dashboard */
.statSection {
  position: absolute;
  top: 50%;
  left: 50%;
}

.dashBoard {
  position: absolute;
  left: 180px;
  top: 110px;
  width: 80%;
}

.globalInformations {
  display: flex;
  justify-content: space-between;
}

.centerInformations {
  position: relative;
  width: 100%;
  height: 88%;
}

.charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 15px;
}

/*Error page*/
.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 0px 13vh;
  text-align: center;
}
.errorMessage * {
  color: #FF0101;
}
.errorMessage h1 {
  font-size: 150px;
  font-weight: bold;
}
.errorMessage h2 {
  font-size: 36px;
  font-weight: 500;
  width: 80%;
}
.errorMessage a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .errorMessage h1 {
    font-size: 96px;
  }
  .errorMessage h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .errorMessage a {
    font-size: 14px;
    margin-top: 133px;
  }
}
/* Module Error */
.moduleError p {
  font-size: 14px;
  color: red;
  padding: 12px;
}

/* CircleLoader */
.circleLoader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  right: -50%;
  transform: translate(-50%, 60%);
}

.circleLoader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: red transparent red transparent;
  -webkit-animation: circleLoader 1.2s linear infinite;
          animation: circleLoader 1.2s linear infinite;
}

@-webkit-keyframes circleLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circleLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */