.containerUsers {

    display: flex;
    flex-direction: column;
    left: 117px;
    position: relative;
    width: 400px;
    left: 40%;
    align-items: center;

}

.usersChoice {

    display: flex;
    width: 100%;
    justify-content: space-around;

}