.containerUsers {
    display: flex;
    max-width: 1440px;
    height: 80vh;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 117px;


}

.usersChoice {

    display: flex;
    height: 100%;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 45%;
    min-width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    font-weight: 800;
    font-size: 25px;


}