/* Header */

.header {
    width: 100vw;
    height: 91px;
    background-color: #020203;
    display: flex;
    align-items: center;
    padding-left: 26px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    * {
        font-size: 18px;
        color: white;
    }

    .logo img {
        width: 178px;
    }
}

.nav-t {
    display: flex;
    width: 1024px;
    justify-content: space-evenly;
}

.nav-l {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
    width: 117px;
    height: 100vh;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: -1;

    .copiryght {
        transform: rotate(-90deg);
        width: 150px;
        position: relative;
        top: 15%;
        text-align: center;

        p {
            color: white;
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
        }
    }




    img {
        height: 32px;
    }

    .nav-l-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 316px;

        .nav-l-bt {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            background-color: white;
            border-radius: 6px;
        }
    }


}